.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.pages{
    display: flex;
    height: 30px;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
}

.element {
    display: flex;
    margin: 20px;
    justify-content: space-around;
    height: 80%;
    width: 80%;
    color: white;
}
.page {
    color: white;
    font-size: 16px;
}
.page:hover{
    cursor: pointer;
}

.selectPage {
    color: white;
    font-size: 20px;
    font-weight: bold;

}
.page:hover{
    cursor: pointer;
}
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
}
.back{
    width: 800px;
    background-color: #192734;
}
.users{
    display: flex;
    flex-direction: column;
}