.border{
    margin: 40px 200px 10px 40px;
    background-color: #2d3741;
    border-radius: 20px;
    color: white;
}
s.i{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h2{
    text-align: center;
}
.h3{
    margin-left: 20px;
}
.in{
    margin-left: 20px;
}
.in button{
    margin-left: 10px;
}
.post{

}

