.header {
    grid-area: h;
}

.header img {
    width: 50px;
}

.loginBlock {
    float: right;
}
.loginBlock a{
    position: absolute;
    top:20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}