.page{
    display: flex;
    width: 800px;
    height: 500px;
    color: white;
    background-color: #2d3741;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-direction: row;
}
.item{
    display: flex;
    justify-content: center;
    width: 250px;
    height: 60px;
}
.input{
    background-color: #192734;
    width: 200px;
    color: white;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #15202B;
}
.input:focus{
    background-color: #192740;
    border: 1px solid #15202B;
}
.error{
    display: flex;
    justify-content: center;
    color: red;
}
.button{
    color: white;
    background-color: #192734;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #15202B;
}
.button:hover{
    cursor: pointer;
    background-color: #192740;
    font-weight: bold;
    width: 104px;
}
.button:active{
    height: 34px;
    width: 110px;
}
.checkbox{
    display: flex;
    justify-content: center;
    height: 30px;
}
